<!DOCTYPE HTML>
<!-- 1. Объявление типа документа -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- 2. Объявление пространства имен Thymeleaf -->

<head>
    <title>Getting Started: Serving Web Content</title>
    <!-- 3. Заголовок страницы -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 4. Настройка кодировки страницы -->
</head>

<body>
    <div>Hello, {{name}}</div>
    <!-- 5. Вывод переменной name с помощью Thymeleaf -->
</body>

</html>
